@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,html{
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    max-width: 100%;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    margin: 0%;
    width: auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 900;
  }

h1{
  font-weight: bolder;
}



/* scroll bar */

/* custom scroll */
  
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);
  }
  
  
 /* linear gradient */
  
  ::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: linear-gradient(135deg, #08f5d5, #fff, rgb(7, 215, 242));
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, #1a6ad2, #fff, rgb(245, 5, 53));
  }
  


/* nav bar */
.container1 {
    position: relative;
    z-index: 2;
    background-color: transparent;
  }
  
  nav {
    position: relative;
    z-index: 2;
  }
  
  nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav li {
    height: 50px;
  }
  
  nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  
  nav a:hover {
    background-color: silver;
    color: #1969fe;
    border-radius: 50px;
    
  }
  
  nav li:first-child {
    margin-right: auto;
  }
  
  .sidebar, .nav {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    height: 35vh;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .sidebar li {
    width: 100%;
  }
  
  .sidebar a {
    width: 100%;
  }
  
  .menu-button {
    display: none;
  }
  
  @media (max-width: 800px) {
    .hideOnMobile {
      display: none;
    }
    .menu-button {
      display: block;
    }
  }
  
  @media (max-width: 400px) {
    .sidebar {
      width: 100%;
    }
  }





/* typewritting */
.typewrite{
    color:black;
    font-weight: 900;
    font-weight: bold;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 4.5s steps(30,end),
    blink-caret .5s step-end infinite;
}

@keyframes typing{
    from{width: 0}
    to{width: 100%}
}

@keyframes blink-caret {
    from, to {
        border-color: transparent}
    50%{border-color: rgb(0, 255, 255)}
}
a{
    text-decoration: none;
    
  }

/* cards */
    
 /* Featured Shows Section */
.featured-shows {
    padding: 50px;
    text-align: center;
  }
  
  .featured-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .featured-header h2 {
    font-size: 2.5rem;
    color: #333;
    margin: 0;
  }
  
  .icon-text {
    display: flex;
    align-items: center;
  }
  
  .circle-icon {
    background-color: #6a60db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #fff;
  }
  
  .description {
    font-size: 1.2rem;
    color: #666;
    margin: 20px 0;
  }
  
  .description .highlight-red {
    color: #e94b3c;
  }
  
  .description .highlight-black {
    color: #333;
    font-weight: bold;
  }
  
  /* Responsive Design */
  @media only screen and (max-width: 768px) {
    .featured-header {
        flex-direction: column;
    }
  
    .featured-header h2 {
        font-size: 2rem;
    }
  
    .featured-shows {
        padding: 30px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .featured-header h2 {
        font-size: 1.8rem;
    }
  
    .featured-shows {
        padding: 20px;
    }
  }
  
 
  
   
   
   /* header */
   
/* heading */

.header {
  width: auto;
  margin: 0;
  padding: 0;

}

.header-text {
  flex:1 ;
}

.text{

    width:650px; 
    padding: 34px 58px; padding-left:73px;  
    font-weight: bold; 
    background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

}
   
   /* update */
   


    /* card */

     
   /* container 3 */
 .container3 {
       
     color: white;
      
   }
      
.container3 {
    max-width: 90%;
    margin: 0 auto; 
    display: grid;
    gap:5% 3%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }

   @media only screen and (max-width: 390px) {

    .container3 {
      max-width: 90%;
      margin: 0 auto; 
      display: grid;
      gap:5% 3%;
      grid-template-columns: repeat(auto-fit, minmax(300px,1fr 1fr 1fr));
     }

   }
      
      .one {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        box-shadow: 0 15px 30px rgba(0,0,0,0.15);
      }
      .one img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: 0.4s;
      }
      .info {
        padding: 35px;
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2), rgba(0,0,0,0.4), rgba(0,0,0,0.5));
        transform: translateY(50%);
        transition: 0.4s;
      }
      .info h3 {
        font-size: 30px;
        line-height: 110%;
      }
      .info p {
        padding: 10px 0;
        font-size: 16px;
        opacity: 0;
        transition: 0.4s;
      }
      .btn {
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        background: #03A9F4;
        color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pinter;
        opacity: 0;
        transition: 0.4s;
      }
      .one:hover .info {
        transform: translateY(0);
      }
      
      .one:hover p, .one:hover a {
        opacity: 1;
      }
      
      .one:hover img {
        transform: scale(1.15);
      }
      

 /* footer */

    footer {
        position: relative;
      
        bottom: 0;
      
        left: 0;
      
        right: 0;
      
        background: #302f2f;
      
        height: auto;
      
        width: 100vw;
      
        padding-top: 40px;
      
        color: #fff;
      }
      
      .footer-content {
        display: flex;
      
        align-items: center;
      
        justify-content: center;
      
        flex-direction: column;
      
        text-align: center;
      }
      
      .footer-content h3 {
        font-size: 2.1rem;
      
        font-weight: 500;
      
        text-transform: capitalize;
      
        line-height: 3rem;
      }
      
      .footer-content p {
        max-width: 500px;
      
        margin: 10px auto;
      
        line-height: 28px;
      
        font-size: 14px;
      
        color: #cacdd2;
      }
      
      .socials {
        list-style: none;
      
        display: flex;
      
        align-items: center;
      
        justify-content: center;
      
        margin: 1rem 0 3rem 0;
      }
      
      .socials li {
        margin: 0 10px;
      }
      
      .socials a {
        text-decoration: none;
      
        color: #fff;
      
        padding: 5px;
      }
      
      .socials a i {
        font-size: 1.1rem;
      
        width: 20px;
      
        transition: color 0.4s ease;
      }
      
      .socials a:hover i {
        color: aqua;
      }
      
      .footer-bottom {
        background: #000;
      
        width: 100vw;
      
        padding: 20px;
      
        padding-bottom: 40px;
      
        text-align: center;
      }
      
      .footer-bottom p {
        float: left;
      
        font-size: 14px;
      
        word-spacing: 2px;
      }
      
      .footer-bottom p a {
        color: #ccc;
      
        font-size: 16px;
      
        text-decoration: none;
      }
      
      .footer-bottom span {
        text-transform: uppercase;
      }
      
      .footer-menu {
        float: right;
      }
      
      .footer-menu ul {
        display: flex;
      }
      
      .footer-menu ul li {
        padding-right: 10px;
      
        display: block;
      }
      
      .footer-menu ul li a {
        color: #cfd2d6;
      
        text-decoration: none;
      }
      
      .footer-menu ul li a:hover {
        color: #27bcda;
      }
      
      @media (max-width: 500px) {
        .footer-bottom p {
          float: none;
        }
      
        .footer-menu ul {
          display: flex;
      
          margin-top: 10px;
      
          margin-bottom: 20px;
      
          text-align: center;
        }
      }
      