body{
    font-family: 'Playfair Display', serif;
    margin: 0%;
    width: fit-content;
}


.responsive-bar{
    display: none;
}
nav{
    width: 100%;
    position:relative;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
}
nav.black{
    background: transparent;
    height: 80px;
    padding: 10px 50px;
}
nav .logo{
    float: left;
}
nav .logo img{
    height: 60px;
    transition: .5s;
}
nav.black .logo img{
    height: 60px;
}
nav > ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
    float: right;
}
nav > ul > li{
    list-style: none;
    display: inline-block;
}
nav > ul > li > a:hover{
   
    color: rgb(0, 110, 255);
}
nav > ul > li > a{
    color: black;
    text-decoration: none;
    text-transform: uppercase; /*for capitalisation of letters */
    line-height: 80px;
    padding: 5px 20px;
    transition: .5s;   
}
nav.black > ul > li > a{
    color:rgb(0, 110, 255) ; 
    line-height: 60px;
}


@media(max-width:768px){
    .responsive-bar{
        display: block;
        width: 100%;
        height: 60px;
        background: transparent;
        position: fixed;
        top: 0;
        left: 0;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index: 1;
    }
    .responsive-bar .logo img{
        float: left;
        height: 50px;  
    }
    .responsive-bar .menu h4{
        float: right;
        color: rgb(0, 110, 255);
        margin: 0;
        padding: 0;
        line-height: 50px;
        cursor: pointer;
        text-transform: uppercase;
    }
    nav{
        padding: 0;
    }
    nav,
    nav.black{
    background: transparent;
    height: 60px;
    padding: 0;
    }
    nav .logo{
        display: none;
    }
    nav ul{
        position: relative;
        width: 100%;
        top: 60px;
        left: 0;
        background: transparent;
        float: none;
        display: none;
    }
    nav ul.active{
        display: block;
    }
    nav ul li{
        width: 100%;
    }
    nav ul li a{
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        line-height: 30px !important;
        color:  black;
        
    }

    nav > ul{
        width: 100%;
        display: none;
    }
    nav > ul > li{
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }
}

/* heading */


.container1{
  
  display: grid; 
  grid-template-columns: 1.5fr 1.5fr 1.5fr; 
  grid-template-areas: 
    ". . ."
    ". .";
  margin: 0%;
  gap: 0px 20px; 
  
}




/* typewritting */
.typewrite{
    color:black;
    font-weight: 900;
    font-weight: bold;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 4.5s steps(30,end),
    blink-caret .5s step-end infinite;
}

@keyframes typing{
    from{width: 0}
    to{width: 100%}
}

@keyframes blink-caret {
    from, to {
        border-color: transparent}
    50%{border-color: rgb(0, 255, 255)}
}
a{
    text-decoration: none;
    
  }


 /* avatar */

 html {
    box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
    box-sizing: inherit;
    
    }
    
    html,
    body {
    padding: 0;
    margin: 0;
    background-color: $bg-color;
    }
    
    .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    }
    
    .avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-right: 5vmax;
    margin-top: 3vmax;
    margin-left: 5vmax;
    margin-bottom:2vmax;
    overflow: hidden;
    opacity:1;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    }
    
    .avatar--green {
    background: linear-gradient(
     to right,
     rgba(188, 200, 255, 1),
     rgba(196, 102, 231, 1)
    );
    }
    
    .avatar--orange {
    background: linear-gradient(
     to right,
     rgba(252, 110, 149, 0.6),
     rgba(217, 84, 19, 1) 95%
    );
    }
    
    .avatar--pinkish {
    background: linear-gradient(
     to right,
     rgba(218, 190, 235, 1),
     rgba(182, 14, 191, 1)
    );
    }
    
    .avatar--blue {
    background: linear-gradient(
     to right,
     rgba(222, 158, 255, 1),
     rgba(112, 71, 254, 1)
    );
    }
    
    .avatar--magenta {
    background: linear-gradient(
     to right,
     rgba(248, 192, 232, 1),
     rgba(218, 52, 221, 1)
    );
    }
    
    .avatar--skyBlue {
    background: linear-gradient(
     to right,
     rgba(224, 232, 233, 1),
     rgba(57, 127, 254, 1)
    );
    }
    
    .avatar-body {
    position: relative;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .avatar-body--round {
    width: 75%;
    border-radius: 90%;
    }
    .body--green {
    background: linear-gradient(
     to right,
     rgba(230, 244, 202, 1),
     rgba(17, 81, 58, 1)
    );
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    }
    
    .body--pink {
    background: linear-gradient(
     125deg,
     rgba(251, 197, 211, 1),
     rgba(165, 21, 111, 1)
    );
    }
    
    .body--violet {
    background: linear-gradient(
     65deg,
     rgba(236, 193, 235, 1),
     rgba(65, 22, 149, 1)
    );
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    }
    
    .body--darkPink {
    background: linear-gradient(
     135deg,
     rgba(236, 156, 167, 1),
     rgba(174, 4, 134, 1)
    );
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }
    
    .body--pinkishViolet {
    background: linear-gradient(
     45deg,
     rgba(242, 149, 227, 1),
     rgba(96, 8, 166, 1)
    );
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    }
    
    .body--limeGreen {
    background: linear-gradient(
     to top,
     rgba(244, 222, 57, 1),
     rgba(34, 141, 54, 1)
    );
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: none;
    }
    
    .avatar-eye {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 65px;
    height: 65px;
    background: linear-gradient(
     105deg,
     rgba(255, 255, 255, 1),
     rgba(203, 135, 244, 1)
    );
    border-radius: 100%;
    box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.2);
    margin: 5px;
    transform: translateX(-50%);
    }
    .avatar-eye--orange {
    background: linear-gradient(
     to bottom,
     rgba(253, 253, 253, 1),
     rgba(250, 199, 152, 1)
    );
    }
    .avatar-eye--green {
    background: linear-gradient(
     to bottom,
     rgba(253, 253, 253, 1),
     rgba(195, 239, 234, 1)
    );
    }
    .avatar-eye--violet {
    background: linear-gradient(
     to bottom,
     rgba(253, 253, 253, 1),
     rgba(230, 214, 246, 1)
    );
    }
    .avatar-eye--magenta {
    background: linear-gradient(
     to bottom,
     rgba(253, 253, 253, 1),
     rgba(209, 149, 253, 1)
    );
    }
    .eye--left {
    left: 10%;
    }
    .eye--right {
    left: 85%;
    }
    
    .eye--center {
    left: 45%;
    top: 10%;
    }
    .eye--center-top {
    left: 45%;
    top: -15%;
    }
    
    .body--violet .avatar-eye {
    top: -20%;
    width: 55px;
    height: 55px;
    }
    
    .body--violet > .eye--left {
    left: 15%;
    }
    
    .body--violet > .eye--right {
    left: 80%;
    }
    
    .avatar-eye-pupil {
    position: absolute;
    width: 55%;
    height: 55%;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    z-index: 100;
    border-radius: 100%;
    }
    
    .pupil--purple {
    background: linear-gradient(
     135deg,
     rgba(218, 171, 229, 1),
     rgba(104, 45, 157, 1) 75%
    );  
    }
    
    .pupil--purple::after{
    content:'';
    }
    
    .pupil--green {
    background: linear-gradient(
     135deg,
     rgba(188, 248, 177, 0.7),
     rgba(47, 163, 140, 1) 75%
    );
    }
    .pupil--pink {
    background: linear-gradient(
     135deg,
     rgba(241, 161, 131, 1),
     rgba(133, 53, 205, 1)
    );
    }
    .pupil--limeGreen {
    background: linear-gradient(
     135deg,
     rgba(137, 225, 160, 1),
     rgba(59, 168, 175, 1) 75%
    );
    }
    .pupil--orange {
    background: linear-gradient(
     135deg,
     rgba(251, 219, 181, 1),
     rgba(213, 129, 56, 1) 75%
    );
    }
    .avatar-eye-pupil-blackThing {
    position: absolute;
    width: 55%;
    height: 55%;
    left: 50%;
    top: 25%;
    background: rgba(44, 47, 50, 1);
    transform: translate(-50%);
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .avatar-eye-pupil-lightReflection {
    position: absolute;
    width: 7px;
    height: 7px;
    left: 25%;
    top: 10%;
    background: rgba(235, 235, 235, 1);
    transform: translate(-50%);
    border-radius: 100%;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.2);
    }
    
    .avatar-smile {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%);
    padding: 0.2em;
    transition: 0.2s all linear;
    width:60px;
    height:23px;
    background:rgba(0,0,0,0.3);
    border:2px solid rgba(96,163,138,1);
    border-radius:10px;
    }
    
    .body--pink >.avatar-smile {
    top:60%;
    width:50px;
    height:10px;
    border-color:rgba(243,166,222,0.5);
    border-radius:10px;
    }
    .body--violet >.avatar-smile{
    background:rgba(143,60,147,1);
    height:50px;
    width:40px;
    border:5px solid rgba(198,127,232,1);
    top:20%;
    border-radius:100%;
    }
    .body--darkPink >.avatar-smile{
    border:10px solid rgba(164,40,131,1);
    top:20%;
    width:70px;
    height:70px;
    background:transparent;
    border-radius:50%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color:transparent;
    }
    .body--pinkishViolet > .avatar-smile{
    border:10px solid rgba(123,64,142,1);
    top:60%;
    width:70px;
    height:70px;
    background:transparent;
    border-radius:50%;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color:transparent;
    }
    .body--limeGreen >.avatar-smile{
    background:rgba(30,129,36,1);
    height:30px;
    width:25px;
    border:10px solid rgba(44,164,70,1);
    top:40%;
    border-radius:100%;
    }
    
    .avatar-tongue{
    position:absolute;
    left:50%;
    top:0%;
    transform:translate(-50%);
    width:50%;
    height:300%;
    border-bottom-left-radius:100%;
    border-bottom-right-radius:100%;
    background:rgba(180,67,144,1);
    }
    .avatar-horn{
    position:absolute;
    left:65%;
    top:-10%;
    transform:translate(-50%);
    width:15px;
    height:35px;
    background:linear-gradient(to top, rgba(212,118,166,1),rgba(164,15,102,1));
    }
    .horn--right{
    border-top-left-radius:100%;
    }
    .horn--left{
    left:35%;
    border-top-right-radius:100%;
    }
    
    .body--limeGreen > .avatar-horn{
    left:0%;
    transform:rotate(-45deg);
    width:5px;
    border-top-right-radius:100%;
    background:linear-gradient(to top,rgba(59,207,150,1),rgba(98,240,160,1));
    }
    
    
    .avatar-tooth{
    position:absolute;
    width:10px;
    height:10px;
    background:rgba(210,237,227,1);
    border-radius:2px;
    top: 61%;
    transform: translate(-50%);
    }
    
    .tooth--right
    {
    left: 45%;
    }
    
    .tooth--left
    {
    left: 55%;
    }
    .body--darkPink > .tooth--right
    {
    top:58%;
    left:50%;
    width:15px;
    height:13px;
    }
    
    .avatar-ear {
    position:absolute;
    top:0%;
    left:10%;
    width:3px;
    height:27px;
    background: green;
    transform:rotate(-35deg);
    background:rgba(41,160,71,1);
    }
    
    .ear--right {
    left:85%;
    transform:rotate(30deg);   
    }
    
    .avatar-ear::before{
    content:'';
    width:30px;
    height:30px;
    background:green;
    border-radius:100%;
    position:absolute;
    top:-100%;
    left:-400%;
    background:linear-gradient(235deg, rgba(64,218,172,1) , rgba(59,189,186,1));
    }
    
/* media screen */
@media only screen and (max-width: 320px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
   
    @media only screen and (max-width: 667px) {
    body {
        width: fit-content;
    }
    .container3{
       margin-bottom: 98%;
       
    }
   }
   
   
   
    @media only screen and (max-width: 732px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
    @media only screen and (max-width: 700px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
    @media only screen and (max-width: 692px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
    @media only screen and (max-width: 612px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
    @media only screen and (max-width: 375px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
    @media only screen and (max-width: 414px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
    @media only screen and (max-width: 412px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
    @media only screen and (max-width: 540px) {
    body {
        width: fit-content;
    }
    .container{
        width:fit-content;
    }
   }
   
   /* update */
   .update{
    
    background: #12C2E9;
    background: linear-gradient(90deg, #12C2E9 0%, #c471ed 50%, #f64f59 100%);
    border-radius: 26px 26px;
    padding: 36px; 
    padding-left:55px;
    padding-right: 55px;
    font-weight:500 !important; 
    font-size:large !important;
    font-weight: bold;
   }


    /* card */
.card {
    width: 90%;
    height: 100%; 
    background: rgb(238, 231, 231);      border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
       
 .shadow {
    box-shadow: inset 0 -3em 3em rgba(219, 208, 208, 0.1),0 0  0 2px rgb(219, 213, 213),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
   }
     
   /* container 3 */
 .container3 {
       
     color: white;
      
   }
      
.container3 {
    max-width: 90%;
    margin: 0 auto; 
    display: grid;
    gap:5% 3%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
      
      .one {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        box-shadow: 0 15px 30px rgba(0,0,0,0.15);
      }
      .one img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: 0.4s;
      }
      .info {
        padding: 35px;
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.2), rgba(0,0,0,0.4), rgba(0,0,0,0.5));
        transform: translateY(50%);
        transition: 0.4s;
      }
      .info h3 {
        font-size: 30px;
        line-height: 110%;
      }
      .info p {
        padding: 10px 0;
        font-size: 16px;
        opacity: 0;
        transition: 0.4s;
      }
      .btn {
        display: inline-block;
        font-size: 16px;
        text-decoration: none;
        background: #03A9F4;
        color: #fff;
        padding: 5px 15px;
        border-radius: 5px;
        cursor: pinter;
        opacity: 0;
        transition: 0.4s;
      }
      .one:hover .info {
        transform: translateY(0);
      }
      
      .one:hover p, .one:hover a {
        opacity: 1;
      }
      
      .one:hover img {
        transform: scale(1.15);
      }
      

      /* footer */
      
      
      a {
        text-decoration: none;
      }
      
      
      footer {
        color: #333;
        background: #D3CCE3;
        background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
        bottom: 0;
      }
      
      .row {
        display: flex;
        padding: 1rem;
      }
      
      .column {
        width: calc(100% / 3);
        padding: 0 0.9375rem;
      }
      
      h4 {
        margin-bottom: 0.9375rem;
        font-size: 1.5rem;
      }
      
      p {
        font-size: 1rem;
        line-height: 1.3rem;
      }
      
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      ul li {
        margin-bottom: 0.625rem;
      }
      
      ul li a {
        color: #333;
        font-size: 1rem;
      }
      
      ul li i {
        color: #6faaff;
      }
      
      ul li a:hover {
        color: gold;
      }
      
      ul.social-icons {
        display: flex;
        column-gap: 0.625rem;
      }
      
      .social-icons i {
        color: white;
      }
      
      ul.social-icons li {
        margin-bottom: 0rem;
      }
      
      ul.social-icons li a {
        display: grid;
        place-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
        background-color: #6faaff;
      }
      
      ul.social-icons li:hover a {
        background-color: #6fdeff;
      }
      
      .copyright {
        text-align: center;
        color: black;
        background-color: #6faaff;
        padding: 0.6rem 0;
        margin-bottom: 9px;
      }
      
      /* Responsive adjustments */
      
      @media screen and (max-width: 768px) {
        .column {
          margin: 0.4rem 0;
          width: 100%;
          padding: 0;
        }
      
        .row {
          display: flex;
          flex-wrap: wrap;
        }
      
       
        p {
          font-size: 0.9375rem;
        }
      
        ul li a {
          font-size: 0.9375rem;
        }
      
        ul.social-icons li a {
          width: 1.875rem;
          height: 1.875rem;
        }
      }